<footer>
    <div class="row">
        <div class="container-footer">
            <div class="block-footer-services">
                <h3>Designed by  <img src="../../static/images/atad.png" alt="Ange Donald Agbré"></h3>
                <p>MTN ACADEMY by Simplon - Data IA</p>
            </div>
            <div class="block-footer-services">
                <h3>Réseaux sociaux</h3>
                <ul>
                    <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/thomas-ange-donald-agbr%C3%A9-90bb9a174/"> LinkedIn</a></li>
                    <li><i class="fa fa-github"></i><a href="https://github.com/Donald1507"> GitHub</a></li>
                </ul>
            </div>
            <div class="block-footer-services">
                <h3>Contacts</h3>
                <ul>
                    <li><i class="fa fa-envelope-square"></i><a href="mailto:agbreagbrethomasangedonald@gmail.com"> Envoyez un mail</a></li>
                    <li><i class="fa fa-phone"></i><a href="tel:(+225)0586710171"> (+225) 05 86 71 01 71</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>