{% extends "base.html" %}

{% block content %}
<!-- Home page of the application -->

<section id="home-text">
    <div class="row">
        <h1>Bienvenue sur la<br>"<strong>bank card application</strong>"</h1>
    </div>
</section>

<section id="App-sum-up">
    <div class="row">
        <div class="col-md-4">
            <img src="../static/images/bras.png" alt="Service de carte bancaire">
        </div>
        <!-- Explanation of the web application -->
        <div class="col-md-8" style="font-size: 20px;">
            <p>Un responsable d’une banque souhaite réduire le nombre de clients qui quittent leurs services
                de carte de crédit. <br>
                Il aimerait pouvoir anticiper le départ des clients afin de leur fournir de
                meilleurs services et ainsi les retenir.</p>
            <p>Grâce au Machine Learning, nous essaierons de prédire les éventuels clients qui
                souhaiteraient quitter ce service pour que le responsable de la banque puisse atteindre son objectif. <br>
                Le modèle utilisé dans cette application est la <b>Régression Logistique</b> avec les caractéristiques suivantes:
            </p>
        </div>
        </div>
</section>

<section id="model-score">
    <div class="row">
            <div class="col-md-6" id="score"><p>Performance<br><b>90%</b></p></div>
            <div class="col-md-6" id="recall"><p>Rappel<br><b>96%</b></p></div>
    </div>
</section>

    
<section id="app-options">
        <!-- Buttons of application options -->
    <div class="row">
        <div class="col-md-4"><a class="btn btn-dark btn-primary btn-lg" href="/one_pred" role="button">Prédiction individuelle</a></div>
        <div class="col-md-4"><a class="btn btn-dark btn-primary btn-lg" href="/file_pred" role="button">Prédiction à partir d'un fichier</a></div>
        <div class="col-md-4"><a class="btn btn-dark btn-primary btn-lg" href="/db_pred" role="button">Prédiction à partir de la base de données</a></div>
    </div>
</section>

    

{% endblock content %}